/***File Name: style.css
	Author Name: Natasha Whitehead
	Website Name: Natasha Whitehead's Portfolio Website
	File Discription: This is the file that contains all of the styles for the mobile webpage and makes everything look 
	visually appealing and attractive to the user.*/
/*****************All Pages***************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	-webkit-text-size-adjust: none;
	font-family: sans-serif;
	min-height: 416px;
}

h2 {
	font-size: 14px;
	font-weight: bold;
	color: #3c3c3c;
	margin: 20px 10px 10px;
}

small {
	margin: 0 10px 30px;
	display: block;
	font-size: 12px;
}

a {
	margin: 0 0 0 10px;
	font-size: 12px;
	color: #3c3c3c;
}

html, body {
	background: #f3f3f3;
}

/**************Image slider**************/
#console {
	font-size: 12px;
	font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	color: #999;
	line-height: 18px;
	margin-top: 20px;
	max-height: 150px;
	overflow: auto;
}

#mySwipe div b {
	display: block;
	font-weight: bold;
	color: #14ADE5;
	font-size: 20px;
	text-align: center;
}

.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}

.swipe-wrap {
	overflow: hidden;
	position: relative;
}

.swipe-wrap > div {
	float: left;
	width: 100%;
	position: relative;
}

/*************************Contact Page*********************/
article ul {
	list-style-type: none;
}

article a {
	text-decoration: none;
}

header li {
	display: block;
}

header p, h3 {
	text-align: center;
}
/******************About Page**********************/
section li {
	display: block;
}

article section {
	margin: 1%;
	padding: 0.5%;
}

article img {
	float: left;
	margin: 5px;
}

p a {

	font-size: 130%;
}

footer ul {

	margin-top: 10px;
}

footer ul a {
	margin-bottom: 1%;
	font-size: 200%;
	text-align: center;
	display: block;
	background-color: #8415D4;
	border: thick, black, solid;
	color: white;
}

/*****************Full site link***************/
#full {
	display: block;
	text-align: center;
	font-size: 120%;
	color: #8415D4;
}

p {
	text-align: center;
}
